<div class="nav-container nav-container__sticky">
  <div class="top-bar"></div>
  <div class="nav">
    {{#link-to 'landing' class='nav__back'}}
    {{/link-to}}
    <div class="nav__logo">
      <img class="header-logo-image" src="assets/images/winterhawks_logo.png">
    </div>
    <div class="nav__user-points">
      <div class="nav__user-points--top">
        Reward Pts
      </div>
      <div class="nav__user-points--bottom">
        {{session.currentUser.total_points}}
      </div>
    </div>
  </div>
</div>

<div class="user-rewards__container push-down">
  <div class="section-headline">
    <h4>Winterhawks Rewards</h4>
  </div>
  {{#each coupon in model}}
    <div class="user-rewards__block">
      <div class="user-rewards__block--top" {{action 'selectCoupon' coupon}}>
         <img {{bind-attr src=coupon.image_url}} alt="Reward" >
      </div>
      <div class="user-rewards__block--bottom">
        <h6>{{coupon.points}} pts</h6>
      </div>
    </div>
  {{/each}}
</div>