<div class="row">
  <center>
    <div class="row forgot-pw">
  <div class="col-sm-12">
    <p>{{#link-to 'sign-in' class='btn btn-danger sign-in-up-btn'}}Sign Up{{/link-to}}</p>

    <p>{{#link-to 'sign-up' class="btn btn-block btn-danger sign-in-up-btn"}}Sign Up{{/link-to}}</p>    
  </div>  
  </div>      
</center>
</div>